
.navbar {
  background-color: #B7950B;
  color: red;
}

.quemsomos {
  background-color: #AED6F1 ;
}

.margin {
  padding-top: 10px;
  padding-bottom: 50px;

}

.parceiros {
  background-color: #7FB3D5;

}

.servicos {

}

.bg-footer {
  background-color: black;
  color: white;
}
